@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<section class="blog-list px-3 py-5 p-md-5">
	<div class="container single-col-max-width">
        <h2>Manage your account</h2>

        <div>
            <h4>Change your account settings</h4>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <partial name="_ManageNav" />
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
