@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<section class="blog-list px-3 py-5 p-md-5">
	<div class="container single-col-max-width">
        <header>
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">You do not have access to this resource.</p>
        </header>
    </div>
</section>