@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<section class="blog-list px-3 py-5 p-md-5">
	<div class="container single-col-max-width">
        <h1>@ViewData["Title"]</h1>
        <p>
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </div>
</section>